html, body {
    margin: 0;
    padding: 0;
    }

      .imgA1 {
        position: absolute;
        z-index: -1;
      }
      
      .imgB1 {
        position: absolute;
        z-index: 1;
      }