/*font-family*/
$ubuntu:'ubuntu', serif;
$poppins: 'poppins', san-serif;

// Font Weight
$regular: 400;
$bold:700;

// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$xx-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;