    .ovalo{
        background-color: $Nickel;
        border-radius: 50px;
        font-size: $roboto;
        font-weight: $regular;
    }  

    .pag{
        background-color: $platinum;
        height: 134px;
        width: 100%;
    }

    .page {
     margin-left: 35%;
     color:$eerie-black;
    }

    
    