
.cards{
    margin-left: 100px;
    margin-right:104px;
    margin-top: 30px;
}
    .fotonaomi {
    border-radius: 50%;
    align-self: center;
}

.nombre {
    font-family: $playfair;
    text-align: center;
    color: $eerie-black;
}
.correo {
    font-family: $roboto;
    font-weight: $light;
    color: #E39896;
    text-align: center;
}

.quienes{
 font-family: $roboto;
 font-weight: $regular;
}
