$playfair: 'Playfair Display', serif;
$roboto: 'roboto', san-serif;

// Font Weight
$regular: 400;
$light: 300;
$normal: 900;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 16px;
$x-small: 12px;