// Color Scheme
// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$Light-gray: #D1D1D1;
// Second Color Scheme
$Fyzzy-Wuzzy: #E56353;
$Ruddy-pink: #D76C69;
$spanish-pink: #ecbcba;
//Third Color Scheme
$eerie-black: #121619;
$Raisin-black: #222323;
$Nickel: #6c6e70;