body{
  ffont-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1{
  font-weight: 700;
  color: cadetblue;
}
.color-fondo{
  background-color: #e83e8c;
}

.logo{
  width: 30%;
}

footer img{
width: 40px;
}