.container {
   margin-left: 100px;
   margin-right:104px;
   margin-top: 30px;
}
.fecha{
    font-family: $playfair;
    font-weight: $regular;
    text-align: left;
}
.descripcion{
    font-family: roboto;
    font-weight: light;
    margin-top: 20px;
}