.fondo {
    background: $eerie-black;
    height: 96px;
    width: 100%;
    }
.logo {
    width: 78px;
    height: 46px;
    }

.tipgra{
    font-family: $roboto;
    font-weight: $light;
    font-size: $medium;
}

ul{
    list-style: none;
}